	
		.principal{

			background: #CCCCCC;
			padding: 20px;
		}

	p{
		text-align: center;
		
	}

	body {
			background: #87ceeb;
		}

	em strong{
			color: red;
		}
	
	ul{
		display: inline-block;
		vertical-align: top;
		width: 20%;
		margin-right: 15%;
		}

	#mision{
		font-size:28px;
	}

	.items{
		font-style: italic;	
	}

	.Diferenciales{
		background:  #FF33B8;
		padding: 30px;
	}

	.imgmain{

		width: 100%;
	}
	.imgserv{

		width: 20%;
	}
	.tituloAlCentro{
			text-align: center;
		}
	.tituloMain{
	
			padding-left: 30px;
		}